.t888-team{
    padding: 0 85px;
    border: 1px solid var(--forth-color);
}
.t888-team img{
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 1.425;
    object-fit: cover;
}
.member-name{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 16px;
}
.member-position{
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}
.member-socials{
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 50px;
}
.member-socials a{
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--fifth-color);
}
.t888-team .swiper-button-prev{
    left: 30px;
     top: 35%;
     border: none;
     z-index: 5;
}
.t888-team .swiper-button-next{
    right: 30px;
     top: 35%;
     border: none;
     z-index: 5;
}

@media (max-width: 575px) {
.t888-team{
    padding: 0;
}
.t888-team .swiper-button-next{
    right: 10px;
    top: 29%;
}
.t888-team .swiper-button-prev{
    left: 10px;
    top: 29%;
}
}