h1.site-logo {
    font-size: 2rem;
}

.site-logo {
    display: flex;
    align-items: flex-end;
}
.site-logo .custom-logo-img{
    /* display: block;
    max-width: 100%;
    height: auto; */
}
.site-logo .custom-logo-text {
    padding: 6px 16.7px;
    border: 3px solid var(--secondary-color);
    display: block;
    color: var(--secondary-color);
}
.custom-logo-wrapper.style3 .site-logo .custom-logo-text{
    border: 3px solid var(--third-color);
     color: var(--third-color);
}
.site-logo i {
    color: var(--third-color);
    font-size: 2.25rem;
    line-height: 2.25rem;
    padding-bottom: 0.125rem;
}

.site-logo span {
    font-family: var(--font-philosopher);
    text-transform: uppercase;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: bold;

}

/* style 2 footer */
.style2 .site-logo .custom-logo-text span {
    font-size: 1.5rem;
    line-height: 2.25rem;
}

.style2 .site-logo .custom-logo-text {
    padding: 0 12px;
    border: 3px solid var(--third-color);
    height: 40px;
    color: var(--third-color);
}

.style2 .site-logo .custom-logo-text>* {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

