.t888-history-wrapper {
   padding-right: 36px;
}

.t888-history-title {
    font-size: 3rem;
    line-height: 2.25rem;
    font-family: var(--font-philosopher);
    font-weight: bold;
    text-align: left;
    margin-bottom: 52px;
}

.t888-history-intro {
    font-size: 0.875rem;
    line-height: 1.875rem;
    color: var(--ninth-color);
    letter-spacing: 0.1px;
}

.t888-timeline-item {
    position: relative;
    padding-top: 18px;
}

.t888-timeline-year {
    font-size: 120px;
    font-weight: bold;
    color: var(--third-color);
    opacity: 0.1;
    position: absolute;
    top: 0;
    line-height: 1;
}

.t888-timeline-content {
    position: relative;
    z-index: 1;
}

.t888-timeline-title {
    font-size: 1.5rem;
    line-height: 2.25rem;
    padding-left: 60px;
    position: relative;
}
.t888-timeline-title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 1px;
    background-color: var(--primary-color); 
}
.t888-timeline-description {
    font-size: 0.875rem;
    line-height: 1.875rem;
    color: var(--ninth-color);
    letter-spacing: 0.1px;
    padding-top: 24px;
}

@media (max-width: 1024px){
    .t888-history-wrapper{
        padding-right: 0;
    }
}