.t888-my-wishlist {
    .heart {

        .wishlist-count {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            background: var(--third-color);
            border-radius: 50%;
            color: #fff;
            top: calc(-100%);
            right: -17px;
            top: -12px;
            position: absolute;
            line-height: normal;
        }
    }

}
