.title-mailchimp-form {
    h2 {
        unicode-bidi: embed;
        direction: ltr;
    }

}

.footer-mailchimp-form {


    .mc4wp-form {
        .newsletter-wrap {
            display: flex;
            align-items: center;
            gap: 3rem;

            .newsletter-text {
                font-size: 1.125rem;
                line-height: 2rem;
                font-family: var(--font-philosopher);
                font-weight: bold;

                .highlight {
                    color: var(--third-color);
                }
            }

            .newletter-input-submit {
                position: relative;
                display: flex;
                justify-content: flex-start;

                input {
                    border: 1px solid var(--forth-color);
                    padding: 14px 24px;
                    width: 500px;
                    border-radius: 0 !important;
                    -webkit-appearance: none;
                    appearance: none;
                }

                button {
                    // position: absolute;
                    top: 0;
                    right: -0;
                    background-color: var(--primary-color);
                    color: var(--secondary-color);
                    border: none;
                    padding: 13px 28px;

                    font-weight: bold;
                    cursor: pointer;

                    i {
                        font-size: 1.5rem;

                    }
                }

                button:hover {
                    background-color: var(--third-color);
                    top: 0;
                    right: 0;
                }
            }

        }
    }
}

.footer4-row2 {
    .social-footer-title {
        font-weight: bold;
        text-transform: uppercase;
        font-family: var(--font-philosopher);
        font-size: 1rem;
        unicode-bidi: embed;
        direction: ltr;

    }
}

@media (min-width: 1025px) and (max-width: 1216px){
    .footer4-row2,
    .footer4-row3 {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
}

@media (max-width: 575px) {

    .footer-mailchimp-form .mc4wp-form .newsletter-wrap .newletter-input-submit input {
        max-width: 300px;
    }

}