.header-1-row1 {
    
    .custom-dropdown {
        .dropdown-label {
            .dropdown-icon {
                opacity: 0.4;
            }

            span {
                margin-inline-start: 6px;
                margin-inline-end: 4px;
            }
        }

        >ul {
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: 8px;
            background-color: var(--secondary-color);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            min-width: 100px;
            z-index: 999;
            padding: 0;
            visibility: hidden;
            opacity: 0;
            pointer-events: none;

            li {
                padding: 3px 12px;
                white-space: nowrap;
                list-style: none;
                transition: all 0.2s;

                a {
                    color: var(--primary-color);
                    font-size: 12px;
                    text-decoration: none;
                    display: block;
                    transition: all 0.3s;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    gap: 6px;

                    &:hover {}
                }

                &:hover {
                    background-color: var(--forth-color);

                    a {
                        color: var(--primary-color);
                    }
                }
            }

        }

        &:hover {
            >ul {
                visibility: visible;
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

    .toggle-search,
    .t888-my-wishlist,
    .mini-cart-link {
        i {
            color: var(--secondary-color);
            font-size: 18px;
        }
    }

    .t888-my-wishlist {
        .heart {
            .wishlist-count {
                width: 16px;
                height: 16px;
                top: -4px;
                right: -12px;
            }
        }
    }

    .mini-cart-box.aside-box .mini-cart-link .cart-number {
        width: 16px;
        height: 16px;
        top: -4px;
        right: -12px;
    }
}

.header-1-row2 {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
    .main-nav {
        >div {
            >ul {
                padding-top: 0px;
                padding-bottom: 0px;

                >li {
                    padding-bottom: 24px;
                    padding-top: 21px;
                     a{
                    color: var(--primary-color);
                }
                }
            }
        }
    }

    .custom-dropdown {
        .dropdown-label {
            .dropdown-icon {
                opacity: 0.4;
            }

            span {
                margin-inline-start: 6px;
                margin-inline-end: 4px;
            }
        }

        >ul {
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: 8px;
            background-color: var(--secondary-color);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            min-width: 100px;
            z-index: 999;
            padding: 0;
            visibility: hidden;
            opacity: 0;
            pointer-events: none;

            li {
                padding: 3px 12px;
                white-space: nowrap;
                list-style: none;
                transition: all 0.2s;

                a {
                    color: var(--primary-color);
                    font-size: 12px;
                    text-decoration: none;
                    display: block;
                    transition: all 0.3s;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    gap: 6px;

                    &:hover {}
                }

                &:hover {
                    background-color: var(--forth-color);

                    a {
                        color: var(--primary-color);
                    }
                }
            }

        }

        &:hover {
            >ul {
                visibility: visible;
                opacity: 1;
                pointer-events: auto;
            }
        }
    }
}

.header1-mobi {
    .menu-toggle-mobile {
        i {
            color: var(--primary-color);
        }
    }

    .acc-mobi .person i {
        color: var(--primary-color);
    }
}

@media (min-width: 1025px) and (max-width: 1216px) {

    .header-1-row1,
    .header-1-row2 {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

}