.header-3-row1 .custom-dropdown .dropdown-label .dropdown-icon {
  opacity: 0.4;
}
.header-3-row1 .custom-dropdown .dropdown-label span {
  margin-inline-start: 0px;
  margin-inline-end: 10px;
}
.header-3-row1 .custom-dropdown > ul {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: 8px;
  background-color: var(--secondary-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  min-width: 100px;
  z-index: 9999;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.header-3-row1 .custom-dropdown > ul li {
  padding: 3px 12px;
  white-space: nowrap;
  list-style: none;
  transition: all 0.2s;
}
.header-3-row1 .custom-dropdown > ul li a {
  color: var(--primary-color);
  font-size: 12px;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 6px;
}
.header-3-row1 .custom-dropdown > ul li:hover {
  background-color: var(--forth-color);
}
.header-3-row1 .custom-dropdown > ul li:hover a {
  color: var(--primary-color);
}
.header-3-row1 .custom-dropdown:hover > ul {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.header-3-row1 .icon-header3 .my-account-icon,
.header-3-row1 .icon-header3 .toggle-search,
.header-3-row1 .icon-header3 .heart,
.header-3-row1 .icon-header3 .mini-cart-link {
  color: var(--secondary-color);
}
.header-3-row1 .icon-header3 .my-account-icon i,
.header-3-row1 .icon-header3 .toggle-search i,
.header-3-row1 .icon-header3 .heart i,
.header-3-row1 .icon-header3 .mini-cart-link i {
  font-size: 18px;
}
.header-3-row1 .icon-header3 a:hover {
  color: var(--third-color);
}
.header-3-row1 .icon-header3 .t888-my-wishlist .wishlist-count {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  background: var(--third-color);
  border-radius: 50%;
  color: #fff;
  right: -12px;
  top: -8px;
  position: absolute;
}
.header-3-row1 .icon-header3 .mini-cart-box.aside-box .mini-cart-link .cart-number {
  width: 16px;
  height: 16px;
  top: -8px;
  right: -12px;
  font-size: 9px;
}

.header-3-row2 {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.header-3-row2 .main-nav {
  justify-content: start;
}
.header-3-row2 .main-nav > div > ul {
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.header-3-row2 .main-nav > div > ul > li {
  padding-bottom: 35px;
  padding-top: 32px;
}
.header-3-row2 .main-nav > div > ul > li a {
  color: var(--primary-color);
}
.header-3-row2 .main-nav .mega-menu {
  top: 102px;
}

.header3-mobi .menu-toggle-mobile i {
  color: var(--primary-color);
}
.header3-mobi .acc-mobi .person i {
  color: var(--primary-color);
}

@media (min-width: 1025px) and (max-width: 1216px) {
  .header-3-row1,
  .header-3-row2 {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
  .header-3-row1 .main-nav > div > ul > li:not(.has-mega-menu) a {
    font-size: 13px;
    margin: 0 12px;
  }
  .btn-buy a {
    font-size: 13px !important;
    padding: 6px 18px !important;
  }
}

/*# sourceMappingURL=header-3.css.map */
