.header-4-row1 {
    .custom-dropdown {
        .dropdown-label {
            .dropdown-icon {
                opacity: 0.4;
            }

            span {
                margin-inline-start: 0px;
                margin-inline-end: 10px;
            }
        }

        >ul {
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: 8px;
            background-color: var(--secondary-color);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            min-width: 100px;
            z-index: 9999;
            padding: 0;
            visibility: hidden;
            opacity: 0;
            pointer-events: none;

            li {
                padding: 3px 12px;
                white-space: nowrap;
                list-style: none;
                transition: all 0.2s;

                a {
                    color: var(--ninth-color);
                    font-size: 12px;
                    text-decoration: none;
                    display: block;
                    transition: all 0.3s;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    gap: 6px;

                    &:hover {}
                }

                &:hover {
                    background-color: var(--forth-color);

                    a {
                        color: var(--primary-color);
                    }
                }
            }

        }

        &:hover {
            >ul {
                visibility: visible;
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

    .icon-header4 {
        color: var(--ninth-color);

        i {
            font-size: 18px;
        }

        .t888-my-wishlist .wishlist-count {
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 9px;
            background: var(--third-color);
            border-radius: 50%;
            color: #fff;
            right: -12px;
            top: -8px;
            position: absolute;
        }

        .mini-cart-box.aside-box .mini-cart-link .cart-number {
            width: 16px;
            height: 16px;
            top: -8px;
            right: -12px;
            font-size: 9px;
        }
    }

}

.header-4-row2 {
    .main-nav {
        justify-content: start;

        >div>ul {
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;

            >li {
                padding-bottom: 35px;
                padding-top: 32px;

                >a {
                    color: var(--secondary-color);

                    &:hover {
                        color: var(--third-color);
                    }
                }

                &.menu-item-has-children,
                &.has-mega-menu {
                    &::after {
                        color: var(--secondary-color);
                    }
                }
            }
        }

        .mega-menu {
            top: 102px;
        }

        .t888-vertical-menu__list>li>.mega-menu,
        .t888-vertical-menu__list>li>ul.sub-menu {
            top: 0;
        }
    }

    .custom-logo-text {
        color: var(--secondary-color);
    }
}

@media (max-width: 1216px) {
    .header-4-row2 .main-nav>div>ul>li:not(.has-mega-menu) a {
        font-size: 13px;
        margin: 0 12px;
    }

    .header-4-row1,
    .header-4-row2 {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
}

@media (max-width: 1024px) {

    .header-4-row1,
    .header-4-row2 {
        padding-left: 0;
        padding-right: 0;
    }
}
